VITE_TECHBLOG_APPWRITE = "hpps//https://cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID = "67a5edd20007ab5e3aa7"
VITE_APPWRITE_DATABASE_ID = "67ab5795001c86535821"
VITE_APPWRITE_COLLECTION_ID = "67ab580000223d99a3f7"
VITE_APPWRITE_BUCKET_ID = ""
